@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "buttons.css";
@import "cards.css";
@import "container.css";
@import "forms.css";

@import "spinner.css";